---
title : TemperateForest Animals
link :
  - href : //maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
    rel : stylesheet 
    integrity : sha384-hQpvDQiCJaD2H465dQfA717v7lu5qHWtDbWNPvaTJ0ID5xnPUlVXnKzq7b8YUkbN
    crossorigin : anonymous
  - href : //maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
    rel : stylesheet
    integrity : sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7
    crossorigin : anonymous
script :
  - src : //code.jquery.com/jquery-2.2.3.min.js
    integrity : sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=
    crossorigin : anonymous
  - src : //maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js
    integrity : sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS
    crossorigin : anonymous
nav : 
  list : 
    - link : https://livingprogram.github.io/TemperateForest/
      name : Home
    - link : https://livingprogram.github.io/TemperateForest/animals.html
      name : Animals
    - link : http://livingprogram.github.io/TemperateForest/contact.html
      name : Contact
  css : 
    '#nav' :
      min-height: 79px
      background: none
      border: 0px
    '#navbar' :
      border-color: transparent
    .navbar-nav : 
      float: right
      padding-top: 15px
      padding-bottom: 15px
    .navbar-default :
      border-color: transparent
    .navbar-default .navbar-nav>li>a.special-hover :
      color: '#FFFFFF'
      font-size: 18px
    .nav > li > a.special-hover:hover :
      color : '#00FFFD'
    .nav > li > a.special-hover:before :
      content: '""'
      position : absolute
      width : 100%
      height: 2px
      bottom: 0
      left: 0
      background-color: '#FFFFFF'
      visibility: hidden
      -webkit-transform: scaleX(0)
      transform: scaleX(0)
      -webkit-transition: all 0.3s ease-in-out 0s
      transition: all 0.3s ease-in-out 0s
    .nav > li > a.special-hover:hover:before :
      visibility: visible
      -webkit-transform: scaleX(1)
      transform: scaleX(1)
    .navbar-default div.navbar-collapse : 
      border-top: none
      box-shadow: none
imagegrids :
  items :
    header :
      title : Temperate Forest Animals
      text : Check out these animals unique only to the Temperate Forest Biome
    row1 :
      - title : Red Panda
        href : /TemperateForest/animals/red_panda.html
        img : /TemperateForest/images/animals/red_panda.jpg
        column : 'col-lg-8 col-md-8 col-sx-8 col-sm-8'
      - title : Grizzly Bear
        href : /TemperateForest/animals/grizzly_bear.html
        img : /TemperateForest/images/animals/grizzly_bear.jpg
        column : 'col-lg-4 col-md-4 col-sx-4 col-sm-4'
    row2 :
      - title : Wild Turkey
        href : /TemperateForest/animals/wild_turkey.html
        img : /TemperateForest/images/animals/wild_turkey.jpg
      - title : North American Porcupine 
        href : /TemperateForest/animals/north_american_porcupine.html
        img : /TemperateForest/images/animals/north_american_porcupine.jpg
      - title : Mallard
        href : /TemperateForest/animals/mallard.html
        img : /TemperateForest/images/animals/mallard.jpg
    row3 :
      - title : Barn Owl
        href : /TemperateForest/animals/barn_owl.html
        img : /TemperateForest/images/animals/barn_owl.jpg
        column : 'col-lg-4 col-md-4 col-sx-4 col-sm-4'
      - title : Peacock
        href : /TemperateForest/animals/peacock.html
        img : /TemperateForest/images/animals/peacock.jpg
        column : 'col-lg-8 col-md-8 col-sx-8 col-sm-8'
  css :
    .row .col-lg-4, .row .col-lg-8 :		
      margin-bottom: 30px		
    .item-wrapper :		
      position: relative		
      height: 350px	
      background-position-y: 23% !important
    .item-wrapper .item-title h2 :		
      color: white		
      text-transform: capitalize		
      position: absolute		
      top: 42%		
      width: 100%		
      text-align: center		
      z-index: 1		
      font-weight: 900 !important		
      line-height: 1.1 !important		
      text-shadow: '2px 2px #737373'		
    '#section-header > h2' :		
      text-align: center		
      margin-bottom: 46px		
      font-weight: 800 		
      font-size: 60px 		
    '#section-header > p' :		
      text-align: center		
      margin-bottom: 70px		
      font-weight: normal		
      line-height: 38px		
      font-size: 25px
footer :
  items :		
    left :		
      - name : Home
        href : /TemperateForest/
      - name : Animals
        href : /TemperateForest/animals.html
      - name : Contact
        href : /TemperateForest/contact.html
    center : 'Page made by LivingProgram. Powered by Github and Jekyll.'
  css :
    .footer-color-black :		
      background-color: rgba(30, 30, 30, 0.97)		
      color: '#DDDDDD'		
    .footer nav > ul :		
      font-size: 16px		
      list-style: none		
      margin: 0		
      padding: 0		
      font-weight: normal		
    .footer nav > ul li:first-child :		
      margin-left: 0		
    .footer nav > ul li :		
      margin-left: 20px		
      float: left		
    .footer nav > ul a :		
      padding: 10px 0px		
      margin: 15px 10px 15px 0px		
      color: '#777777'		
      display: block		
      font-size: 14px		
      font-family: '"Droid Serif", "Helvetica Neue", "Helvetica","Arial"'		
    .footer .center-text :		
      font-size: 14px		
      font-family: '"Droid Serif", "Helvetica Neue", "Helvetica","Arial"'		
      color: '#777777'		
      padding: 10px 15px		
      margin: 15px 3px		
      line-height: 20px		
      text-align: center		
    .center-text a :		
      color: '#FFFFFF'
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% for line in page.link %}
    <link {% for item in line %}{{ item[0] }}="{{ item[1] }}" {% endfor %}>
    {% endfor %}
    {% for line in page.script %}
    <script {% for item in line %}{{ item[0] }}="{{ item[1] }}" {% endfor %}></script>
    {% endfor %}
    <style>
      {% for selector in page.nav.css %}
        {{ selector[0] }} {
         {% for css in selector[1] %}
           {{ css[0] }} : {{ css[1] }}; 
         {% endfor %}
        }
      {% endfor %}
      {% for selector in page.footer.css %}		
         {{ selector[0] }} {		
          {% for css in selector[1] %}		
            {{ css[0] }} : {{ css[1] }}; 		
          {% endfor %}		
         }		
      {% endfor %}
      {% for selector in page.imagegrids.css %}
        {{ selector[0] }} {		
          {% for css in selector[1] %}		
            {{ css[0] }} : {{ css[1] }}; 		
          {% endfor %}		
        }
      {% endfor %}
    </style>
    <script>
      $(document).ready(function(){       
        var scroll_start = 0;
        $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > 10) {
            $(".navbar-default").css('background-color', 'rgb(51, 51, 51)');
          } else {
            $('.navbar-default').css('background-color', 'transparent');
          }
        });
      });
    </script>
  </head>
  <body>

    {% include nav.html %}

    <div style="background: url(/TemperateForest/images/animals/animals_main2_title.JPG) no-repeat center;height: 100vh;background-size: cover;">
      <!-- <h2 style="
      margin-top: 0;
      padding-top: 63vh;
      color: white;
      font-size: 92px;
      font-weight: 800;
      padding-left: 29vw;
      -webkit-transform: rotate(-10deg);
      ">Animals</h2> -->
    </div>

    <div class="container">
      <div id="section-header">
        <h2>{{ page.imagegrids.items.header.title }}</h2>
        <p>{{ page.imagegrids.items.header.text }}</p>
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row1 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="{{ line.column }}">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row2 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="col-lg-4 col-md-4 col-sx-4 col-sm-4">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row3 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="{{ line.column }}">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    div class="container">
      <div id="section-header">
        <h2>{{ page.diagrams.items.header.title }}</h2>
        <p>{{ page.diagrams.items.header.text }}</p>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>

