    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% for line in site.data.resources.content.link %}
    <link {% for item in line %}{{ item[0] }}="{{ item[1] }}" {% endfor %}>
    {% endfor %}
    {% for line in site.data.resources.content.script %}
    <script {% for item in line %}{{ item[0] }}="{{ item[1] }}" {% endfor %}></script>
    {% endfor %}
