---
title : TemperateForest All Diagrams
cladogram :
  css :
    .cladogram-images :
      position: absolute
      top: 65px
      width: 7vw
      height: 14vh
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include resources.html %}
    <style>
      {% include green_nav.css %}
      {% for selector in page.cladogram.css %}
        {{ selector[0] }} {		
          {% for css in selector[1] %}		
            {{ css[0] }} : {{ css[1] }}; 		
          {% endfor %}		
        }
      {% endfor %}
    </style>
    <script>
      $(document).ready(function(){       
        var scroll_start = 0;
        $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > 10) {
            $(".navbar-default").css('background-color', 'rgb(51, 51, 51)');
          } else {
            $('.navbar-default').css('background-color', 'transparent');
          }
        });
      });
    </script>
  </head>
  <body>

    {% include nav.html %}

    <img src="/TemperateForest/images/animals/red_panda.jpg" class="cladogram-images" style="
      left: 5vw;
    ">
    <img src="/TemperateForest/images/animals/grizzly_bear.jpg" class="cladogram-images" style="
      left: 19vw;
    ">
    <img src="/TemperateForest/images/animals/wild_turkey.jpg" class="cladogram-images" style="
      left: 33vw;
    ">
    <img src="/TemperateForest/images/animals/north_american_porcupine.jpg" class="cladogram-images" style="
      left: 47vw;
    ">
    <img src="/TemperateForest/images/animals/mallard.jpg" class="cladogram-images" style="
      left: 61vw;
    ">
    <img src="/TemperateForest/images/animals/barred_owl.jpg" class="cladogram-images" style="
      left: 75vw;
    ">
    <img src="/TemperateForest/images/animals/peacock.jpg" class="cladogram-images" style="
      left: 89vw;
    "> 

  </body>
</html>

