---
title : TemperateForest Animals
imagegrids :
  items :
    header :
      title : Temperate Forest Animals
      text : Check out these animals unique only to the Temperate Forest Biome
    row1 :
      - title : Red Panda
        href : /TemperateForest/animals/red_panda
        img : /TemperateForest/images/animals/red_panda.jpg
        column : 'col-lg-8 col-md-8 col-sx-8 col-sm-8'
      - title : Grizzly Bear
        href : /TemperateForest/animals/grizzly_bear
        img : /TemperateForest/images/animals/grizzly_bear.jpg
        column : 'col-lg-4 col-md-4 col-sx-4 col-sm-4'
    row2 :
      - title : Wild Turkey
        href : /TemperateForest/animals/wild_turkey
        img : /TemperateForest/images/animals/wild_turkey.jpg
      - title : North American Porcupine 
        href : /TemperateForest/animals/north_american_porcupine
        img : /TemperateForest/images/animals/north_american_porcupine.jpg
      - title : Mallard
        href : /TemperateForest/animals/mallard
        img : /TemperateForest/images/animals/mallard.jpg
    row3 :
      - title : Barn Owl
        href : /TemperateForest/animals/barn_owl
        img : /TemperateForest/images/animals/barn_owl.jpg
        column : 'col-lg-4 col-md-4 col-sx-4 col-sm-4'
      - title : Peacock
        href : /TemperateForest/animals/peacock
        img : /TemperateForest/images/animals/peacock.jpg
        column : 'col-lg-8 col-md-8 col-sx-8 col-sm-8'
  css :
    .row .col-lg-4, .row .col-lg-8 :		
      margin-bottom: 30px		
    .item-wrapper :		
      position: relative		
      height: 350px	
      background-position-y: 23% !important
    .item-wrapper .item-title h2 :		
      color: white		
      text-transform: capitalize		
      position: absolute		
      top: 42%		
      width: 100%		
      text-align: center		
      z-index: 1		
      font-weight: 900 !important		
      line-height: 1.1 !important		
      text-shadow: '2px 2px #737373'		
    '#section-header > h2' :		
      text-align: center		
      margin-bottom: 46px		
      font-weight: 800 		
      font-size: 60px 		
    '#section-header > p' :		
      text-align: center		
      margin-bottom: 70px		
      font-weight: normal		
      line-height: 38px		
      font-size: 25px
models :
  items :
    header :
      title : Temperate Forest Models
      text : Explore the extraordinary relationships between animals in the Temperate Forest.
  css :
    .modelsPlaceholder :
      background-color: '#808080'
      height: 100vh
    .modelsPlaceholder > h1 :
      text-align: center
      color: '#FFFFFF'
      padding-top: 50vh
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% include resources.html %}
    <style>
      {% include animals_nav.css %}
      {% for selector in page.imagegrids.css %}
        {{ selector[0] }} {		
          {% for css in selector[1] %}		
            {{ css[0] }} : {{ css[1] }}; 		
          {% endfor %}		
        }
      {% endfor %}
      {% for selector in page.models.css %}
        {{ selector[0] }} {		
          {% for css in selector[1] %}		
            {{ css[0] }} : {{ css[1] }}; 		
          {% endfor %}		
        }
      {% endfor %}
      {% include footer.css %}
    </style>
    <script>
      $(document).ready(function(){       
        var scroll_start = 0;
        $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > 10) {
            $(".navbar-default").css('background-color', 'rgb(51, 51, 51)');
          } else {
            $('.navbar-default').css('background-color', 'transparent');
          }
        });
      });
    </script>
  </head>
  <body>

    {% include nav.html %}

    <div style="background: url(/TemperateForest/images/animals/animals_main2_title.JPG) no-repeat center;height: 100vh;background-size: cover;">
      <!-- <h2 style="
      margin-top: 0;
      padding-top: 63vh;
      color: white;
      font-size: 92px;
      font-weight: 800;
      padding-left: 29vw;
      -webkit-transform: rotate(-10deg);
      ">Animals</h2> -->
    </div>

    <div class="container">
      <div id="section-header">
        <h2>{{ page.imagegrids.items.header.title }}</h2>
        <p>{{ page.imagegrids.items.header.text }}</p>
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row1 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="{{ line.column }}">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row2 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="col-lg-4 col-md-4 col-sx-4 col-sm-4">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
      <div class="row">
        {% for line in page.imagegrids.items.row3 %}
        <a href="{{ line.href }}" title="{{ line.title }}">
          <div class="{{ line.column }}">
            <div class="item-wrapper" style="background:url({{ line.img }}) no-repeat center;background-size: cover;">
              <div class="item-title">
                <h2>{{ line.title }}</h2>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="container">
      <div id="section-header">
        <h2>{{ page.models.items.header.title }}</h2>
        <p>{{ page.models.items.header.text }}</p>
      </div>
      <div class="modelsPlaceholder"><h1>Cladogram</h1></div>
      <div class="modelsPlaceholder"><h1>Food Web</h1></div>
      <div class="modelsPlaceholder" style="margin-bottom: 20px"><h1>Trophic Level</h1></div>
    </div>

    {% include footer.html %}

  </body>
</html>
