---
title : TemperateForest Vocabulary
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include resources.html %}
    <style>
      {% include animals_nav.css %}
      {% include footer.css %}
    </style>
    <script>
      $(document).ready(function(){       
        var scroll_start = 0;
        $(document).scroll(function() { 
          scroll_start = $(this).scrollTop();
          if(scroll_start > 10) {
            $(".navbar-default").css('background-color', 'rgb(51, 51, 51)');
          } else {
            $('.navbar-default').css('background-color', 'transparent');
          }
        });
      });
    </script>
  </head>
  <body>

    {% include nav.html %}

    <div style="background: url(/TemperateForest/images/temperate_forests_main.jpg) no-repeat center;background-size: cover;background-position-y: 3%;background-attachment: fixed;padding-top: 10vh;padding-left: 5vw;">
      <h2 style="
        margin-top: 0;
        color: white;
        font-size: 50px;
        font-weight: 800;
        ">Vocabulary</h2>
      <div id="vocabulary">
        
      </div>
    </div>
    

    {% include footer.html %}

  </body>
</html>

